template(name='detail')
  +header
  +timeline selectedRangeRV=selectedRangeRV
  hr.col-md-12.hr-padding
  h2.col-md-12.articleHeader.mainHeaderText Posts mentioning #{agent}
  ul.nav.nav-tabs.col-md-12
    li.col-md-2.col-xs-12#recentMentionsPanelTab(class="{{#if recentMentionsView}}active{{/if}}")
      a(href='/detail/#{agent}/recentMentions') Recent Mentions
    li#frequentDescriptorsPanelTab.col-md-2.col-xs-12(class="{{#if frequentDescriptorsView}}active{{/if}}")
      a(href='/detail/#{agent}/frequentDescriptors') Frequent Descriptors
  .tab-content
    .tab-pane.active
      if recentMentionsView
        +recentMentions selectedRangeRV=selectedRangeRV
      else if frequentDescriptorsView
        +frequentDescriptors
