template(name='detail')
  +header
  +timeline selectedRangeRV=selectedRangeRV
  h2.col-md-12.articleHeader.mainHeaderText Posts mentioning #{agent}
  ul.tabs.list-unstyled
    li#recentMentionsPanelTab(class="{{#if recentMentionsView}}active{{/if}}")
      a(href='/detail/#{agent}/recentMentions')
        span Recent Mentions
    li#frequentDescriptorsPanelTab(class="{{#if frequentDescriptorsView}}active{{/if}}")
      a(href='/detail/#{agent}/frequentDescriptors')
        span Frequent Descriptors
  .tab-content
    .tab-pane.active
      if recentMentionsView
        +recentMentions selectedRangeRV=selectedRangeRV
      else if frequentDescriptorsView
        +frequentDescriptors
