template(name="recentAgents")
  table#recentAgentsTable.table.table-striped
    tbody
      each recentAgents
        tr
          td.recentlyMentionedInfectiousAgentsTableRow(data-agentname=word.value)
            h3.rmia-word= word.value
            | Date: #{currentDate.value}
            br
            if priorArticle
              if dm
                span.underline Months since prior mention:
                  a(href='#{priorArticle.value}', target='_blank')= months.value
              else
                span Days since prior mention:
                  a(href='#{priorArticle.value}', target='_blank')= days.value
            else
              span.no-priors No Prior Mentions
            br
            span Link:
              a(href='#{currentArticle.value}', target='_blank')= currentArticle.value