template(name="recentAgents")
  if ready
    if endDateBeforeToday
      p.centered Posts before #{endDate}
  .list
    each post
      article.post
        .post--details.details
          h1
            a.promed-link.featured(href="#" uri=uri)= postSubject
          .time-link
            p.time-since {{ageOrDate postDate}}
            span.seperator
            a.fa.fa-newspaper-o.promed-link(href="#" uri=uri)
        ul.post--mentions.list--sub-group.list-unstyled
          each recentAgentsForPost _id collapsed
            li(data-agentname=word)
              a(href="/detail/{{plus word}}")= word
              .prior-mentions
                if priorPost
                  span {{since postDate priorPostDate}}
                  span since
                  a.featured(href="?date={{format priorPostDate 'YYYY-MM-DD'}}") prior mention
                else
                  span.no-priors no prior mentions
        if collapsed
          button.btn.btn-success.btn-show-all-ia(type="button") Show All Infectious Agents for Post
    if ready
      if theEnd
        p.centered.subtle All posts have been loaded
      else
        button.btn.btn-primary.btn-centered.btn-hidden.load-more-posts(type="button") Load More
    else
      +loader classes='inline'
