template(name="recentAgents")
  .list
    each post
      article.post
        .post--details.details
          h1
            a.promed-link.featured(href="#" uri=uri)= postSubject
          .time-link
            p.time-since {{ageOrDate postDate}}
            span.seperator
            a.fa.fa-newspaper-o.promed-link(href="#" uri=uri)
        ul.post--mentions.list--sub-group.list-unstyled
          each recentAgentsForPost _id collapsed
            li(data-agentname=word)
              a(href="/detail/{{plus word}}")= word
              .prior-mentions
                if priorPost
                  span {{since ../date priorPostDate}}
                  span since
                  a.promed-link.featured(href="#" uri=priorPost) prior mention
                else
                  span.no-priors no prior mentions
        if collapsed
          button.btn.btn-success.btn-show-all-ia(type="button") Show All Infectious Agents for Post
    if isLoading
      .loading.spinner-margin
        i.fa.fa-spinner.fa-2x.fa-spin
    else
      unless theEnd
        button.btn.btn-info.load-more-posts(type="button") Load More
