template(name="trendingAgents")
  .list
    .list--options.row
      .trend-interval
        h2 Trend Interval
        ul.range-selector.list-unstyled
          li(class="{{#if eq trendingRange 'year'}}active{{/if}}")
            a(href="/trending/year") Year
          li(class="{{#if eq trendingRange 'month'}}active{{/if}}")
            a(href="/trending/month") Month
          li(class="{{#if eq trendingRange 'week'}}active{{/if}}")
            a(href="/trending/week") Week

      .trend-seasonality
        h2 Seasonality
        ul.range-selector.list-unstyled
          li(class="{{#if showingSeasonal}} active {{/if}}")
            a.toggle-seasonal Trending Seasonally

      .trend-date
        h2 Trend Date
        .input-group.date#trendingDate
          input.date-button.form-control.input-sm.date-picker(value="{{trendingDate}}" type="text")
          .input-group-addon
            span.glyphicon.glyphicon-calendar

    ul.trending-agents.list--sub-group.list-unstyled
      each trendingAgents
        if showAgent
          li
            +trendingAgent
      else
        if ready
          p.no-priors.centered.subtle No Trending Infectious Agents in the last
            | {{trendingRange}}
        else
          +loader classes='inline'

template(name="trendingAgent")
  a.fmia-word(href="/detail/#{word}")= word
  if seasonal
    span.fa.fa-sun-o.seasonal(
      data-toggle="tooltip"
      data-placement="right"
      title="This may be a seasonal trend."
    )
  .relative-strength
    .power-bars(
      data-toggle="tooltip"
      data-placement="left"
      title="The number of bars indicates the relative strength of the trend."
    )
      each bars
        .power-bar
